.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100px;
    gap: 1rem;
    flex-shrink: 1;
    flex-wrap: wrap;
    background-color: var(--background-color);
    border: solid 2px var(--primary);
    border-radius: 10px;

}

/*.recipe-card-li {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    flex-basis:400px;*/
/*    align-items: center;*/
/*    list-style: none;*/
/*    flex-shrink: 1;*/
/*    flex-wrap: wrap;*/
/*    border: solid 1px var(--primary);*/
/*}*/

.li-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    flex-wrap: wrap;
    gap: 2em;
    padding: 10px 0;

    border: #de9bf1 solid 1px;
}
.add-to-favorite-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recipe-card img {
    width: 20vw;
    margin-top: 50px;
    box-shadow: .25rem .5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.name {
    color: var(--secondary);

}
.recipe-card h6 {
    font-size: 22px;
    margin: 30px 0;

}
.recipe-card p {
    padding: 10px 0;
}