.background-container {
    background: url("../../assets/background-favourite.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 1500px;
    height: 1400px;
}
.outer-content-container-favourite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*flex-grow: 1;*/
    flex-basis: 1200px;
    /*flex-wrap: wrap;*/
    border: #de9bf1 solid 3px;

}

.title-container-favourite h2 {
    color: var(--secondary-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 2em 0;


}
.title-container-favourite-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding:0 11em 0 11em ;
    border: yellow solid 1px;
    flex-basis: 100px;
    text-align: center;

}


.inner-content-container-favourite {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-basis: 1000px;
    border: blue solid 3px;
    flex-wrap: wrap;

}

#box1 > img {
    width: 300px;
    height: 150px;
}

#box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0 20px 0;
}

