.background-container {
    background: url("../../assets/background-favourite.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 1000vw;
    /*height: 1400vw;*/
}
.outer-content-container-favorite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /*flex-grow: 1;*/
    flex-basis: 1200vw;
    /*flex-wrap: wrap;*/
    border: #de9bf1 solid 3px;

}





.title-container-favorite-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding:0 11em 0 11em ;
    border: yellow solid 1px;
    flex-basis: 100px;
    text-align: center;
    /*background-color: var(--background-color);*/
    color: #027902;
}
.inner-container-favorite-2 a {

    color: #027902;
}

.inner-content-container-favorite1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-basis: 10vw;
    border: blue solid 3px;
    flex-wrap: wrap;

}

.inner-content-container-favorite2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-basis: 100vw;
    border: blue solid 3px;
    flex-wrap: wrap;
    background-color: var(--background-color);
}
.inner-content-container-favorite2 a {

    color: #027902;
}