button {
    border-radius: 25px;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    width: 100px;
    align-items: center;
    border: solid 1px var(--secondary);
    background-color: var(--button-color);
    font-weight: bold;

}
button:hover {
    cursor: pointer;
    background-color: var(--primary);
}
