.outer-content-container-recipe {
    background: url("../../assets/search-page.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 1400px;
    flex-wrap: wrap;
    border: #de9bf1 solid 3px;
}

.inner-content-container-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 1400px;
    border: blue solid 3px;
    flex-wrap: wrap;
}

.content-container-recipe1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;
    border: #f61045 solid 3px;
}
.content-container-recipe2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 600px;
    flex-wrap: wrap;
    flex-shrink: 1;
    border: #74ff24 solid 3px;
}

.inner-content-container-recipe2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 200px;
    border: solid 1px var(--primary) ;
}

.content-container-recipe3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    flex-basis: 500px;
    border: #073daf solid 3px;
    text-align: center;

}


