.outer-content-container-contact {

    background: url("../../assets/background-contact.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 1400px;
    flex-wrap: wrap;

}

.inner-content-container-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 1400px;
    flex-wrap: wrap;
    width: 100vw;
    height: 150vh;


}

.content-container-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 1200px;


}

/*General form-styling*/
.contact-form {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 30px 8px;
    max-width: 430px;
    flex-basis: 600px;
    border: solid 3px var(--primary);
    border-radius: 25px;
    box-shadow: .25rem .5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.message-field {
    border: solid 1px var(--primary);
    border-radius: 25px;
    padding: 8px;
    width: 100%;
    margin: 6px 0;
}

.button-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

