/*global styles sign up page */
.outer-content-container-sign-up {

    background: url("../../assets/background-sign-up-6546181 (1).jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.outer-content-container-sign-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 1200px;
    flex-wrap: wrap;
}

.inner-content-container-sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 1400px;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;


}

.content-container-sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;

}

/*general formulier-styling*/
.sign-up-form {
    display: flex;
    flex-direction: column;
    padding: 32px;
    max-width: 430px;
    min-height: 300px;
    border: solid 3px var(--primary);
    border-radius: 25px;
    box-shadow: .25rem .5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
}

.button-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

