.container-search-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   align-items: center;
    flex-basis: 300px;
    flex-wrap: wrap;
    flex-shrink: 2;
    gap: 2em;
    padding: 2em 0 2em 0;
    border: solid 1px var(--primary);


}

.container-search-card a {
    font-size: 80%;
    text-decoration-line: none;
    color: var(--secondary-a);

}
.container-search-card img {
    width: 50%;

}