/*sign in link style*/
header li {
    list-style: none;
}

.inner-content-containers-header {
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;
    flex-wrap: wrap;
    margin: 0 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 15px 0;
    gap: 110px;
}

.inner-content-containers-nav {
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 35px 0;
}

/*link page styles */
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 900px;
    flex-wrap: wrap;
    color: var(--primary);
    font-size: 22px;
    list-style: none;
    text-decoration-line: none;
    z-index: 1;

}

.nav-container li > a {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: var(--primary);
    font-size: 25px;
    text-decoration: underline var(--button-color-2);
    z-index: 1;
}

header a:hover,
nav a:hover {
    text-decoration-line: underline;
    text-decoration: underline var(--primary);

}


.ulh li > a {
    margin: 0 40px 0 145px;
    color: var(--primary);
    font-size: 26px;
    list-style: none;
    text-decoration-line: none;
}

.ulh li > a:hover {
    color: var(--secondary-a);
    text-decoration: underline var(--primary);

}

.button-logout {
    padding: 12px 20px;
    border: none;
    background-color: var(--button-color-2);
    color: var(--white);
    border-radius: 110px 40px 110px 40px;
    margin: 0 40px 0 120px;
    cursor: pointer;
    float: right;
}

.button-logout:hover {
    background-color: var(--button-color);
    color: var(--black);
}

.logout-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 10vw;
    height: 30px;
}

.logout-box span {
    text-align: right;
    margin: 5px 45px 0 0;
    color: var(--primary);
    font-size: 16px;
    text-decoration: underline var(--button-color-2);
}