
a {
  color: var(--primary);
    font-size: 22px;
    list-style: none;
    text-decoration-line: none;
}
header a:hover,
nav a:hover {
    /*color: var(--secondary);*/
    text-decoration-line: underline;

}



header li {
    list-style: none;


}

.nav-container {
    border: black solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 780px;
    flex-wrap: wrap;


/*    basis was hier 1200 780 proberen voor laptop */
}

.nav-container ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-container li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.ulh {
    margin: 0 40px 0 80px;
}