
.header a {

}
header a:hover,
nav a:hover {
    /*color: var(--secondary);*/
    text-decoration-line: underline;

}



header li {
    list-style: none;


}

.nav-container {
    border: black solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 900px;
    flex-wrap: wrap;
    color: var(--primary);
    font-size: 22px;
    list-style: none;
    text-decoration-line: none;
    z-index: 1;

/*    basis was hier 1200 780 proberen voor laptop */
}

.nav-container li > a {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: var(--primary);
    font-size: 22px;
    text-decoration-line: none;
    z-index: 1;
}



.ulh li > a {
    margin: 0 40px 0 150px;
    color: var(--primary);
    font-size: 22px;
    list-style: none;
    text-decoration-line: none;
}
.ulh li > a:hover {
    color: var(--secondary-a);

}

.button-logout {
    padding: 12px 20px;
    border: none;
    background-color: var(--button-color-2);
    color: var(--white);
    border-radius: 110px 40px 110px 40px;
    margin: 0 40px 0 120px;
    cursor: pointer;
    float: right;
 }
.button-logout:hover {
    background-color: var(--button-color);
    color: var(--black);
}

.logout-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 10vw;
    height: 30px;
}
.logout-box span {
    text-align: right;
    margin: 5px 45px 0 0 ;
    color: var(--primary);
    font-size: 16px;
    text-decoration: underline var(--button-color-2);
}