.add-to-favorite-container {
    display: flex;
    flex-direction:revert;
    justify-content: center;
    align-items: center;
    color: var(--button-color);

}

.add-to-favorite-container a {
    text-decoration: none;
    color: var(--primary);

}