.outer-content-container-search {
    background: url("../../assets/search-page.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 1400px;
    flex-wrap: wrap;
    border: #de9bf1 solid 3px;
}

.inner-content-container-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 1400px;
    border: blue solid 3px;
    flex-wrap: wrap;
}

.content-container-search1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;
    border: #f61045 solid 3px;
}
.content-container-search2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 600px;
    border: #74ff24 solid 3px;
}


.min-max-input-field-kcal {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*margin: 0 0 0 60px;*/
    border: solid 1px var(--primary);
    border-radius: 10px;
    background-color: var(--background-color);

}
#kcal {
    font-size: 15px;
    width: 12vw;
    height: 3vh;
}
.kcal-label {
    padding: 5px 10px 0 18px;
    width: 8vw;

}


.checkbox-content-container-search2 {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-content:space-between;
    flex-wrap: wrap;
    /*width: 300px;*/
    border: solid 1px var(--primary);
    background-color: var(--background-color);
    padding-left: 20px;
    margin: 0;
    border-radius: 10px;
    box-shadow: .25rem .5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.checkbox-content-container-search2 input {
    background-color: red;
}
 .cel1,
 .cel2 {
     display: flex;
     flex-direction: column;
     width: 200px;

 }

.content-container-search3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    flex-basis: 900px;
    border: #073daf solid 3px;
    text-align: center;
    background-color: var(--background-color);

}


 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 1,
             'wght' 500,
             'GRAD' 0,
             'opsz' 48
 }
.content-container-search2-button {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 20vw;
    margin: 10px 10px 10px 80px;
    border: solid 1px var(--primary);
    border-radius: 10px;
    background-color: var(--background-color);
}
/* p:hover {*/
/*    !*color: var(--secondary);*!*/

/*    text-decoration-line: underline;*/

/*}*/